.button {
  cursor: pointer;
  border: none;
  border-radius: 1rem;
  padding: 3px 10px;
  margin: 5px 7px;
  font-size: 16px;
  background-color: transparent;
  color: var(--clr);
  border: 2px solid var(--clr);
  font-weight: bold;
  /* box-shadow: 5px 5px 10px var(--clr); */
  box-shadow: var(--box-shadow);
}

button a {
  color: var(--clr);
  font-weight: bold;
}
