.skillsandstack {
  margin: 10px;
  display: flex;
  justify-content: space-around;
}

.skillssection {
  text-align: center;
  width: 50%;
  margin: 20px;
  padding: 15px;
  box-shadow: var(--box-shadow);
  border-radius: 1rem;
}

.teckstackspan {
  display: flex;
  flex-wrap: wrap;
}

.stack {
  margin: 3px;
  padding: 10px 15px;
  font-weight: 700;
  border: 2px solid var(--clr-secondary);
  border-radius: 1rem;
}

@media screen and (max-width: 650px) {
  .skillsandstack {
    flex-wrap: wrap;
  }

  .skillssection {
    text-align: center;
    width: 80%;
  }
}
