.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 0 10px black;
}

.header a {
  text-decoration: none;
  padding: 0 10px;
  font-size: 25px;
}

.left a {
  color: var(--clr-secondary);
}

.header h1 {
  margin: 0;
  font-size: 45px;
  line-height: 1;
}
