.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: var(--box-shadow);
}

.header a {
  text-decoration: none;
  padding: 0 10px;
  font-size: 25px;
}

.left a {
  color: var(--clr-secondary);
}

.header h1 {
  margin: 0;
  font-size: 45px;
  line-height: 1;
}

@media screen and (max-width: 1000px) {
  .header {
    display: block;
    text-align: center;
    padding: 10px;
  }
  .middle h1 {
    line-height: 0;
  }

  .header a {
    font-size: 20px;
  }
  .right {
    margin-top: 10px;
  }
}
