.footer {
  padding: 10px;
  box-shadow: 0 -5px 30px rgba(0, 0, 0, 0.11);
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.line {
  width: 2px;
  height: 140px;
  background-color: var(--clr);
}

.footersociallinks,
.footerintro,
.footercontact {
  width: 30%;
}

.footer a {
  padding: 10px 20px;
}
.footer h1 {
  margin: 10px 2px;
}

@media screen and (max-width: 900px) {
  .footer {
    flex-direction: column;
  }
  .footersociallinks,
  .footerintro,
  .footercontact {
    width: 100%;
  }
  .footerintro {
    width: 400px;
  }

  .line {
    width: 70%;
    height: 2px;
  }
}

@media screen and (max-width: 450px) {
  .footerintro {
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .footer {
    margin-bottom: 25px;
  }
}
