.footer {
  margin: 30px;
  padding: 10px;
  border: 3px solid var(--clr);
  box-shadow: 10px 10px 10px var(--clr);
  border-radius: 1rem;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footersociallinks,
.footerintro,
.footercontact {
  width: 30%;
}

.footer a {
  padding: 10px 20px;
}
.footer h1 {
  margin: 10px 2px;
}
