:root {
  --clr-primary: #ff6d39;
  --clr-secondary: #007200;
  --clr: #545454;
  --clr-background: #fffff7;
  --clr-background1: #ffebeb;
  --clr-background2: #ecfeec;
  --box-shadow: 0 13px 30px #0000001c;

  /* --clr-primary: #ff6d39;
  --clr-secondary: #007200;
  --clr: #9b9b9b;
  --clr-background: #242424;
  --clr-background1: #ffebeb;
  --clr-background2: #ecfeec;
  --box-shadow: 4px 4px 15px #0000008f; */
}

body {
  font-family: "Tilt Neon", sans-serif;
  margin: 0;
  background-color: var(--clr-background);
  color: var(--clr);
  transition: linear 1s;
}

@media screen and (max-width: 650px) {
}

.icon {
  fill: var(--clr-secondary);
}

a {
  text-decoration: none;
  color: var(--clr-primary);
  font-weight: 200;
  transition: linear 2s;
  position: relative;
}

a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--clr-primary);
  transform-origin: center;
  transition: transform 0.25s ease-out;
}

a:hover:after {
  transform: scaleX(1);
  transform-origin: center;
}

p {
  color: var(--clr);
  font-weight: bold;
}

h1 {
  /* text-shadow: 2px 2px 0px black; */
  color: var(--clr-primary);
  margin: 3px 5px;
}

h2 {
  /* text-shadow: 0.7px 0.7px 0px black; */
  color: var(--clr-secondary);
  margin: 5px;
}
h3 {
  color: var(--clr-primary);
  margin: 3px 5px;
}
h4 {
  color: var(--clr-secondary);
  margin: 5px;
}

.active {
  color: var(--clr-primary);
  text-decoration: underline !important;
}
